%h2 Welcome to Aphorism!

Aphorism is a completely web-based instant messenger network system with a focus on security.

User communication is completely encrypted, from the browser of the sender to the browser of the reciever.

The server has no access to the private keys of the registered users, so it can be trusted.

The only possible risks are:
%ul
  %li The user himself
  %li man in the middle (Phishing style - <b>LOOK OUT</b>!)
  %li keyloggers/maleware etc. (it is <b>YOUR</b> responsibility!)
%br


